p {
  font-family: Lato;
}

.title-div {
  text-align: center;
  height: 100px;
}

.title-img {
  padding: 5px;
}

.inner-div {
  margin-top: 30px; 
  border: 1px solid; 
  border-radius: 5px; 
  padding: 15px; 
  background-color: lightgray; 
  border-color: lightgray;
}

.lat-long-font {
  font-size: xx-large;
}